@mixin for-mobile {
  @media (max-width: 768px) {
    @content;
  }
}


@mixin custom-media-query($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}